body {
    font-family: 'Georgia', serif;
    color: #000;
    padding: 1rem;
    width: 640px;
    margin: 40px auto;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #004B6B;
}
a:hover {
    color: #6D4100;
}

article {
    border: 1px #eee solid;
    position: relative;
    padding: 10px 10px 10px 75px;
}

article header .status_info {
    font-size: 0.9em;
    font-style: italic;
    color: darkgrey;
}

article header img.avatar {
    max-width: 48px;
    max-height: 48px;
    position: absolute;
    left: 15px;
}

article header .status_info a {
    color: darkgrey;
}


article .content {
    padding: 10px 0;
}
article p {
    line-height: 1em;
}

article footer {
    font-size: 0.9em;
    color: darkgrey;
}

