body {
    font-family: 'Georgia', serif;
    color: #000;
    padding: 1rem;
    font-size: 15px;
}

nav#nav-bar {
    position: absolute;
}

section#article-list {
    width: 70%;
    max-width: 1000px;
    margin: auto;
}
@media (max-width: 768px) {
    section#article-list {
        width: 90%;
        max-width: 640px;
    }
}

@media (max-width: 500px) {
    body {
        padding: 0.2rem;
    }

    section#article-list {
        width: 95%;
        max-width: 640px;
    }
}

img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}
video {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

a {
    color: #004B6B;
    text-decoration: none;
}
a:hover {
    color: #00acc1;
}
a > span.ellipsis::after {
    content: "…";
}
a > span.invisible {
    display: none;
}
a.toggle-media {
    display: block;
}

article {
    border: 1px #eee solid;
    position: relative;
    padding: 8px 8px 8px 75px;
    overflow-wrap: break-word;
    hyphens: auto;
}
div.skeleton-content{
    background-color: lightgrey;
    border-radius: 3px;
}
div.content div.skeleton-content {
    height: 2em;
}
article header .avatar.skeleton-content {
    width: 48px;
    height: 48px;
}
header div.skeleton-content {
    height: 1em;
}
footer div.skeleton-content {
    height: 1em;
}

article header .status_info {
    font-size: 0.9em;
    font-style: italic;
    color: darkgrey;
}

article header .avatar {
    max-width: 48px;
    max-height: 48px;
    position: absolute;
    left: 15px;
}
article footer div.counters {
    position: absolute;
    left: 15px;
    bottom: 13px;
    font-size: 0.7em;
}

article header .status_info a {
    color: darkgrey;
}


article .content {
    padding: 7px 0;
}
article p {
    margin: 0;
}

article footer {
    font-size: 0.9em;
    color: darkgrey;
}

