<!doctype html>
<html>
<head>
  <title>Kopy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <script type="module" src="{{ url_for('static', filename='js/kopy.js') }}"></script>
</head>
<body>
  <nav id="nav-bar">
  </nav>
  <section id="article-list">
  </section>
</body>
</html>
