<!doctype html>
<html>
<head>
  <title>Kopy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
  </nav>
  <section class="content">
    <header>
    </header>
      <ul>
      {% for status in manager.fetch(20) %}
          <article>
            <header>
                <img src="{{ status.r_author_avatar }}" class="avatar"/>
                <strong>
                  <a href="{{ status.r_author_url }}">{{ status.r_author }}</a>
                </strong>
                {% if status.is_r %}
                  <span class="status_info">
                    ♺ by <a href="{{ status.author_url }}">{{ status.author}}</a>
                  </span>
                {% endif %}
            </header>
            <div class="content">
              {{ status.r_content|safe }}
            </div>
            <footer>
                On {{ status.extractor }} -
                <a href="{{ status.url }}" rel="nofollow noopener" target="_blank">
                  {{ status.date }}
                </a>
            </footer>
          </article>
      {% endfor %}
      </ul>
  </section>
</body>
</html>
